<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>ABOUT US</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
      <img src="assets/Development.jpg" />
        <br>
        <h2><p class="about" style="color: rgb(48, 48, 48)"><b>GREAT SOLUTIONS</b></p></h2>
        <p class="about">
          <b>Techno Solusitama</b> adalah perusahaan yang bergerak dibidang pelayanan Teknologi Informasi untuk menunjang
          kebutuhan perusahaan baik PT, CV / Firma, Instansi Pemerintah / Swasta, Instansi Pendidikan, dan lainnya
          dibidang Teknologi Informasi. <b>Techno Solusitama</b> telah membantu beberapa perusahaan kecil, menengah maupun 
          perusahaan besar serta instansi pemerintah / swasta di Indonesia. <b>Techno Solusitama</b> bertekad untuk menjadi solusi
          utama anda dalam kebutuhan Teknologi Informasi masa sekarang dan masa depan.
        </p>
        <br>
        <p><ion-button expand="block" color="primary" class="about">Contact Us</ion-button></p>
  </ion-content>