<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>WHY US</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="assets/Why Us.png" />
    <br>
    <br>
    <b class="why-us">1. Quality Of Work</b>
    <p class="why-us">
        Merupakan sebuah proses dimana user dapat memberikan respon pada kebutuhan user itu sendiri dengan cara 
        mengembangkan mekanisme untuk mengijinkan para user memberikan sumbang saran penuh dan ikut serta 
        mengambil keputusan dan mengatur kebutuhan suatu perusahaan.
    </p>
    <b class="why-us">2. Time Efficient</b>
    <p class="why-us">
        Dalam Manajemen waktu, diperlukan tekad kita dalam mengikuti semua perencanaan dan tidak boleh 
        menyia-nyiakan waktu meskipun waktu yang singkat. Manajemen waktu merupakan suatu keharusan karena Manajemen Waktu 
        ini menentukan kapan suatu hal akan dimulai dan kapan pula hal tersebut harus diselesaikan.  Dalam perihal penyelesaian, 
        kita dapat menggunakan Gantt Chart dalam perencanaan dan pemantauan sesuatu yang akan dimulai atau yang sedang berjalan.
    </p>
    <b class="why-us">3. Quality Is Our Tradition</b>
    <p class="why-us">
        User adalah hal yang paling penting bagi kami, maka dari itu kualitas akan produk yang kami sediakan tidak pernah luput dari 
        apa yang kami namakan <i><b>Best Of Our Best</b></i>. Kualitas produk selalu kami jaga demi kepuasan user dan untuk pemakaian dalam 
        jangka panjang, sehingga setiap permintaan akan kebutuhan user dapat terpenuhi dengan baik sesuai dengan ekspektasi user.
    </p>
    <b class="why-us">4. Secure</b>
    <p class="why-us">
        Secure
    </p>
    <b class="why-us">5. Support</b>
    <p class="why-us">
        Support
    </p>    
</ion-content>
